@charset "UTF-8";
* { margin: 0px; padding: 0px; }

/*BODY*/
body { background: black; height: 100vh; }

/*FUENTE*/
.font-light { font-family: "Roboto Mono", monospace; font-weight: 300; }

.font-regular { font-family: "Roboto Mono", monospace; font-weight: 400; }

.font-bold { font-family: "Roboto Mono", monospace; font-weight: 700; }

.font-extra-bold { font-family: "Roboto Mono", monospace; font-weight: 800; }

/*COLOR FUENTE*/
.color-fuente { color: #33ff66; }

/*h1 GASTÓN CARREÑO*/
strong h1 { display: flex; text-align: center; justify-content: center; font-family: "Roboto Mono", monospace; font-weight: 700; font-size: 2rem; margin: 10px; }

/*MENU NAV*/
.navbar { margin: 0; padding: 0; background: black; background: linear-gradient(90deg, black 24%, #111010 60%, #111010 81%, #161515 95%); justify-content: flex-end; text-align: center; }

.navbar li { margin: 10px; }

.navbar a { color: white; text-decoration: none; font-size: 18px; }

.navbar a:hover { color: #33ff66; text-shadow: 0 0 5px #33ff66; }

.navbar .menu-nav__item { margin-top: 30px; margin-left: 40px; }

@media (min-width: 992px) { .navbar .nav-work { margin-left: 400px; } }

@media (min-width: 1300px) { .navbar .nav-work { margin-left: 600px; } }

/*TEXTO PRINCIPAL INDEX*/
.texto-principal1 { font-size: 37px; color: #33ff66; margin: 50px; padding: 20px; }

.texto-principal2 { font-size: 40px; color: #33ff66; margin-top: 50px; margin-left: 70px; }

.maquina-escribir { background: black; position: relative; }

.maquina-escribir::after { content: ""; border-left: 3px solid #33ff66; background: black; margin: 4px; right: 0; height: 100%; position: absolute; animation: maquinaescribir 6s infinite alternate steps(60); }

@keyframes maquinaescribir { from { width: 100%; }
  to { width: 0; } }

/*CONTENIDO GENERAL*/
.content { color: #33ff66; text-align: justify; margin: 30px 50px; }

/*WHATSAPP ICONO*/
.whatsapp-icono { position: fixed; right: 55px; z-index: 100; bottom: 80px; }

.whatsapp-icono:hover { transform: scale(1.1); }

.fa-whatsapp { color: #33ff66; }

.fa-whatsapp:hover { color: white; text-shadow: 0 0 5px #33ff66; }

@media (max-width: 768px) { .whatsapp-icono { bottom: 180px; } }

/*PROYECTOS*/
.cards { font-family: "Roboto Mono", monospace; display: flex; justify-content: center; align-items: center; margin: 20px; }

@media (max-width: 1080px) { .cards { flex-wrap: wrap; margin-top: 20px; margin-bottom: 40px; } }

.cards .card { height: 440px; background: #030303; background: linear-gradient(90deg, #030303 0%, #1a1a1a 81%); border-radius: 20px; max-width: 300px; min-width: 260px; overflow: hidden; display: flex; position: relative; transition: all 0.4s ease; margin: 0 10px; }

.cards .card:before { height: 190px; width: calc(100% + 100px); content: ""; position: absolute; background: black; background: linear-gradient(90deg, black 24%, #111010 60%, #111010 81%, #161515 95%); border-radius: 4px 4px 100% 100%; transition: all 0.4s ease-out; top: 0; }

.cards .card .close { width: 18px; height: 18px; position: absolute; z-index: 2; cursor: pointer; background-image: url("https://rafaelalucas91.github.io/assets/icons/misc/cross.svg"); background-size: 80%; background-repeat: no-repeat; background-position: center; top: 0; right: 0; margin: 10px; padding: 5px; transition: all 0.2s ease; }

.cards .card .close:hover { background-size: 100%; opacity: 0.8; }

.cards .card .arrow { display: none; }

.cards .card article { z-index: 1; display: flex; align-items: center; flex-direction: column; text-align: center; }

.cards .card article h2 { color: #33ff66; margin: 0; padding: 40px 20px 10px 20px; font-weight: 500; font-size: 24px; letter-spacing: 0.5px; }

.cards .card article .title { color: white; padding: 10px 20px; letter-spacing: 0.8px; transition: all 0.4s ease; }

.cards .card article .desc { padding: 10px 30px; font-size: 14px; text-align: center; line-height: 24px; color: #666; height: 90px; transition: all 0.4s ease-out; }

.cards .card article .pic { width: 120px; height: 120px; overflow: hidden; border-radius: 100%; margin: 20px 0; box-shadow: 0 0 3px #33ff66, 0 0 5px #33ff66, 0 0 10px #33ff66; transition: all 0.6s ease; }

.cards .card article .pic img { width: 100%; }

.cards .card:hover { transform: translateY(-10px); box-shadow: 0 0 3px #33ff66, 0 0 5px #33ff66, 0 0 10px #33ff66; }

.cards .card:hover:before { height: 100%; border-radius: 4px; }

.cards .card:hover .desc { color: white; }

.cards .card:hover .pic { box-shadow: 0 0 10px #33ff66, 0 0 20px #33ff66, 0 0 40px #33ff66; }

.cards .card:hover .pic img { -webkit-filter: grayscale(0%); filter: grayscale(0%); }

.cards .card.closed { min-width: 120px; max-width: 120px; display: flex; justify-content: center; align-items: center; transition: all 0.6s ease; cursor: pointer; }

.cards .card.closed .title, .cards .card.closed .desc, .cards .card.closed .actions, .cards .card.closed .close { display: none; }

.cards .card.closed h2 { padding: 0; height: 100%; transform: rotate(-90deg); width: 440px; z-index: 2; transition: all 0.6s ease; }

.cards .card.closed .pic { border-radius: 100%; height: 400px; width: 400px; position: absolute; top: -20px; margin: 0; box-shadow: 0; transition: all 0.6s ease; }

.cards .card.closed .pic img { object-fit: cover; height: 100%; transform: translateY(20px); }

.cards .card.closed .pic:before { content: ""; position: absolute; width: 100%; height: 100%; background-color: black; opacity: 0.5; z-index: 1; transition: all 0.4s ease; transform: translateY(20px); }

.cards .card.closed:before { height: 100%; border-radius: 4px; }

.cards .card.closed .arrow { width: 18px; height: 18px; position: absolute; z-index: 2; cursor: pointer; bottom: 15px; padding: 5px; display: flex; justify-content: center; background-image: url(..//Desktop/expand.svg); background-size: 80%; background-repeat: no-repeat; background-position: center; transition: all 0.2s ease; }

.cards .card.closed:hover .arrow { background-size: 100%; opacity: 0.6; }

.flexbox-work { display: flex; background: black; justify-content: end; }

.work-proyect { background: #030303; background: linear-gradient(90deg, #030303 0%, #1a1a1a 81%); padding: 20px; margin: 10px; text-align: left; border-radius: 20px; }

.work-proyect img { padding-top: 20px; }

.work-proyect:hover { box-shadow: 0 0 3px #33ff66, 0 0 5px #33ff66, 0 0 10px #33ff66; }

@media (max-width: 1080px) { .flexbox-work { flex-direction: column; } }

/*BLOG*/
.blog-container { position: relative; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; z-index: 1; }

.blog-container .blog-article { position: relative; width: 280px; height: 400px; margin: 20px; border-radius: 15px; background: rgba(54, 52, 52, 0.1); overflow: hidden; display: flex; justify-content: center; align-items: center; border-top: 1px solid rgba(255, 255, 255, 0.05); border-left: 1px solid rgba(255, 255, 255, 0.05); backdrop-filter: blur(5px); }

.blog-container .blog-article:hover { box-shadow: 0 0 10px #33ff66, 0 0 20px #33ff66, 0 0 40px #33ff66; }

.blog-container .blog-content { padding: 20px; text-align: center; transition: 0.5s; transform: translateY(100px); opacity: 0; }

.blog-container .blog-content:hover { transform: translateY(0px); opacity: 1; }

.blog-container .blog-content h2 { position: absolute; top: -80px; right: 30px; font-size: 8rem; color: rgba(255, 255, 255, 0.05); }

.blog-container .blog-content h3 { font-size: 1.8rem; color: white; z-index: 1; }

.blog-container .blog-content p { font-size: 1rem; color: white; font-weight: 300; }

.blog-container .blog-content a { position: relative; display: inline-block; padding: 8px 20px; margin-top: 15px; background: white; color: black; border-radius: 20px; text-decoration: none; font-weight: 500; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

/*ABOUT*/
.about { display: inline-block; color: #33ff66; text-align: left; height: 200px; margin: 40px; }

/*FORM CONTACT*/
.form-contact { margin: 50px auto; border-radius: 20px; width: 50%; height: 100%; background: #1a1a1a; background: linear-gradient(90deg, #1a1a1a 26%, black 100%); color: #33ff66; padding: 20px; display: flex; flex-direction: column; align-items: center; }

.form-contact:hover { box-shadow: 0 0 10px #33ff66, 0 0 20px #33ff66, 0 0 40px #33ff66; }

.form-contact input { color: white; background: #1f1f1f; background: linear-gradient(90deg, #1f1f1f 42%, #2c2f33 100%); border-radius: 20px; display: flex; padding: 5px; margin: 15px; border: none; outline: none; }

.form-contact textarea { background: #1f1f1f; background: linear-gradient(90deg, #1f1f1f 42%, #2c2f33 100%); border-radius: 20px; color: white; margin-top: 10px; margin-left: 10px; resize: none; width: 90%; height: 80px; border: none; outline: none; }

.form-contact select { display: block; margin-top: 10px; margin-bottom: 10px; border-radius: 20px; background: #1f1f1f; background: linear-gradient(90deg, #1f1f1f 42%, #2c2f33 100%); color: white; border: none; outline: none; }

@media (max-width: 530px) { .form-contact { width: 70%; } }

.send-button { background-color: #2c2f33; border: #2c2f33; padding: 9px 20px; font-size: 20px; border-radius: 5px; color: white; }

.send-button:hover { background-color: #33ff66; border: #33ff66; color: black; }

/*FOOTER*/
.footer-container { margin-top: 100px; display: flex; align-items: center; flex-direction: column; justify-content: center; background: black; background: linear-gradient(90deg, black 24%, #111010 60%, #111010 81%, #161515 95%); text-decoration: none; }

.footer-text { color: white; font-size: 20px; padding: 8px; margin-top: 10px; }

.footer-text:hover { color: white; text-shadow: 0 0 5px #33ff66; }

.footer-redes a { text-decoration: none; }

.iconredes { color: #33ff66; margin: 20px 10px; justify-content: space-around; display: flex; margin-bottom: 50px; }

.iconredes:hover { color: white; text-shadow: 0 0 5px #33ff66; }
