$Fuente : 'Roboto Mono', monospace;

$Color-Principal : #33ff66;
$Color-TextInput : white;
$Text-Shadow :  0 0 5px #33ff66;
$Box-Shadow__card : 0 0 3px #33ff66, 0 0 5px #33ff66, 0 0 10px #33ff66;
$Box-Shadow__contact : 0 0 10px #33ff66, 0 0 20px #33ff66, 0 0 40px #33ff66;

$BorderRadius20: 20px;


$BackgroundNav1 : rgb(0,0,0);
$BackgroundNav2 : linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(17,16,16,1) 60%, rgba(17,16,16,1) 81%, rgba(22,21,21,1) 95%);

$BackgroundBody1 : rgb(0,0,0);
$backgroundBody2: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 57%);

$BackgroundWork1 :  #030303;
$BackgroundWork2 : linear-gradient(90deg, #030303 0%, #1a1a1a 81%);

$BackgroundContact1 : #1a1a1a;
$BackgroundContact2 : linear-gradient(90deg, #1a1a1a 26%, black 100%);;

$BackgroundColorInputForm1: #1f1f1f;
$BackgroundColorInputForm2: linear-gradient(90deg, #1f1f1f 42%, rgba(44,47,51,1) 100%);
$BackgroundColorbutton: #2c2f33;

$BackgroundFooter1 :rgb(41,41,41);
$BackgroundFooter2 : radial-gradient(circle, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);

