@import "variables";

* {
	margin: 0px;
	padding: 0px;
}


/*BODY*/
body {
	background: black;
	min-height: 100vh;
}

/*GRILLA*/
#grilla {
	display: grid;
	grid-template-areas:
	  "nav nav nav"
	  "form form form"
	  "work work work"
	  "blog blog blog"
	  "footer footer footer";
	grid-template-rows: auto auto auto; 
	grid-template-columns: auto auto auto;
 }
 header {
	grid-area: header;
 }
 footer {
	grid-area: footer;
 }
 form {
	grid-area: form;     
 }
 nav {
	grid-area: nav;
 }
 .work-proyect{
	 grid-area: work;
 }
 .articulo-blog{
	 grid-area: blog;
 }

/*FUENTE*/
$font-sizes:(
	"light": 300,
	"regular": 400,
	"bold":700,
	"extra-bold":800
);
@each $key, $val in $font-sizes{
	.font-#{$key}{
		font-family: $Fuente;
		font-weight: $val;
	}
}

/*COLOR FUENTE*/
.color-fuente{
	color: $Color-Principal;
}

/*h1 GASTÓN CARREÑO*/
strong h1 {
display: flex;
text-align: center;
justify-content: center;
	
	font-family: $Fuente;
	font-weight: 700;
	font-size: 2rem;
	margin: 10px;
}

/*MENU NAV*/
.navbar{
    margin: 0;
	padding: 0;
	background: $BackgroundNav1;
	background: $BackgroundNav2;
	justify-content: flex-end;
	text-align: center;

    li{
        
        margin: 10px;
    }
    a{
        color: $Color-Principal;
		text-decoration: none;
	    font-size: 18px;

        &:hover{
            color:white;
            text-shadow: $Text-Shadow;
        }
    }
	.menu-nav__item {
		margin-top: 30px;
		
	}
}

// @media (max-width: 920px) {
//     .menu-nav {
//             flex-direction: column;
//       }
// }

/*TEXTO PRINCIPAL INDEX*/
.texto-principal{
	font-size: 40px;
	color: $Color-Principal;
	margin: 50px;
	position: relative;

	// .span1{
	// 	position: absolute;
	// 	right: 0;
	// 	width: 0;
	// 	background-color: black;
	// 	border-left: 1px solid $Color-Principal;
	// }
	.span2{
		position: absolute;
		right: 0;
		width: 0;
		background-color: black;
		border-left: 1px solid $Color-Principal;
	}
}

/*CONTENIDO GENERAL*/
.content{
	color:$Color-Principal;
	text-align: center;
	margin: 20px;
}

/*WHATSAPP ICONO*/
.whatsapp-icono{
	position: fixed;
	right: 55px;
	z-index: 100;
	bottom: 80px;
	

    &:hover{
        transform: scale(1.1);
    }
}
.fa-whatsapp{
	color: $Color-Principal;

	&:hover{
		color:white;
		text-shadow: $Text-Shadow;
	}
}

@media (max-width:768px){
	.whatsapp-icono{
		bottom: 180px;
	}
}
/*PROYECTOS*/
.flexbox-work{
	display: flex;
	background: black;
	justify-content: end;
}

.work-proyect{
	background: $BackgroundWork1;
	background: $BackgroundWork2;
	padding: 20px;
	margin: 10px;
	text-align: left;
	border-radius: $BorderRadius20;

    img {
        padding-top: 20px;
    }
	&:hover{
		box-shadow: $Box-Shadow__card;
	}
}

@media (max-width: 1080px) {
    .flexbox-work {
            flex-direction: column;
      }

/*BLOG*/
.flexbox-blog{
	display: flex;
    justify-content: start;
    p{
	    text-align: left;
        margin: 10px;
    }

	
 }
.articulo-imagen{
	width: 300px;
	height: 200px;
	display: flex;
	margin: 20px 1px;
	border-radius: $BorderRadius20;
}

@media (max-width: 920px) {
    .flexbox-blog {
            flex-direction: column;
      }
}
}
@mixin banner($mi-ancho, $imagen){
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	min-height: $mi-ancho;
	@if( $imagen == blog1){
		background-image: url('../media/imagenes/articulo1.jpg');
	}@else if($imagen == blog2){
		background-image: url('../media/imagenes/articulo2.jpg');
	}@else{
		background-image: url('../media/imagenes/articulo3.jpg');
	}
	background-image: $imagen;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 60px;
	padding: 0 20px;
	color: #fff;
	h3{
		font-size: 2rem;
		margin-bottom: 0.5em;
	}
}
.bannerblog1{
	@include banner(400px, blog1);
}
.bannerblog2{
	@include banner(200px, blog2);
}
.bannerblog3{
	@include banner(200px, blog3);
}

/*ABOUT*/
.about{
	display: inline-block;
	color:$Color-Principal;
	text-align: left;
	height: 200px;
	margin:40px;
}

/*FORM CONTACT*/
.form-contact{
	margin:50px auto;
	border-radius: $BorderRadius20;
	width: 50%;
	height: 100%;
	background: $BackgroundContact1;
	background: $BackgroundContact2;
	color: $Color-Principal;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&:hover{
		box-shadow: $Box-Shadow__contact;
	}

    input{
        color: white;
	    background: $BackgroundColorInputForm1;
		background: $BackgroundColorInputForm2;
	    border-radius: $BorderRadius20;
	    display: flex;
	    padding: 5px;
	    margin: 15px;
		border: none;
		outline: none;
        
    }
    textarea{
		background: $BackgroundColorInputForm1;
		background: $BackgroundColorInputForm2;
		border-radius: $BorderRadius20;
		color: white;
		margin-top: 10px;
		margin-left: 10px;
        resize: none;
        width: 90%;
        height: 80px;
		border: none;
		outline: none;
    }
	select{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: $BorderRadius20;
		background: $BackgroundColorInputForm1;
		background: $BackgroundColorInputForm2;
		color: $Color-TextInput;
		border: none;
		outline: none;
	}
	
    
}
@media (max-width: 530px) {
	.form-contact {
			width: 70%;
	  }}


@mixin button {
	background-color: $BackgroundColorbutton; border: $BackgroundColorbutton; padding: 9px 20px; font-size: 20px; border-radius: 5px; color: white;

	&:hover{
        background-color: #33ff66; border: #33ff66; color: black; 
    }
}
.send-button{
    @include button();
}

/*FOOTER*/
.footer-container{
	margin-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
    background: $BackgroundNav1;
	background: $BackgroundNav2;
	
	text-decoration: none;
 }
.footer-text{
    color: white;
	font-size: 20px;
	padding: 8px;
	margin-top: 10px;

	&:hover{
		color:white;
		text-shadow: $Text-Shadow;
	}
}
.footer-redes{
	a { 
	text-decoration: none;
} }

.iconredes{
	color: $Color-Principal;
	margin: 20px 10px;
	justify-content: space-around;
	display: flex;
	margin-bottom: 50px;

	&:hover{
		color:white;
		text-shadow: $Text-Shadow;
	}
}